.haloContainer {
    margin: 50px 0;
}

.profilePicture {
    margin-left: 3vw;
    width: 75px;
    height: 75px;
}

.haloTexts {
    text-align: start;
    margin-left: 15px;
}

.haloTexts h1{
    font-size: 40px;
    margin-top: -10px;
}

.haloTexts h2{
    font-size: 25px;
    margin-top: -5px
}